:root {
    --leftcontainerbg: #2f3136;
    --fieldsbg: #212226;
}

@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

body {
    font-family: 'gg sans Normal', sans-serif;
    color: #ffffff
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.section {
    width: 100%;
}

.fields {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.dropdown-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.left-container {
    background-color: var(--leftcontainerbg);
    width: 50%;
}

.right-container {
    width: 50%;
    justify-content: flex-start;
}

.bold {
    font-family: 'gg sans', sans-serif;
}

.disabled {
    display: none;
}

input[type="text"] {
    border: none;
    width:100%;
    background-color: var(--fieldsbg)
}

input::placeholder {
    color: #ffffff6b
}

.input-row {
    display: flex;
    gap: 10px; /* Espaço entre o campo e o botão */
    width: 100%;
    align-items: center;
}

.input-row input {
    flex: 1; /* Faz o input crescer para ocupar o espaço disponível */
}
